extends layout

block content
  link(rel='stylesheet' href='/stylesheets/library.css' media='screen')
  section#sec-a877.u-clearfix.u-section-1
    .u-clearfix.u-sheet.u-sheet-1
      .u-expanded-width.u-table.u-table-responsive.u-table-1
        table.u-table-entity
          colgroup
            col(width='25%')
            col(width='25%')
            col(width='25%')
            col(width='25%')
          thead.u-custom-color-1.u-custom-font.u-font-ubuntu.u-table-header.u-table-header-1
            tr(style='height: 21px;')
              th.u-table-cell Date
              th.u-table-cell File
              th.u-table-cell Type
              th.u-table-cell Size
              th.u-table-cell Author 
              th.u-table-cell 
          tbody.u-custom-font.u-font-ubuntu.u-table-body
              each a in lista
                  if a.privacy==0
                      tr(style='height: 75px;')
                          td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.date
                          td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell(onclick="showFile(\""+a._id+"\",\""+a.mimetype+"\",\""+a.autor+"\",\""+a.descricao+"\");")= a.name
                          td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.mimetype
                          td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.size
                          each u in users
                              if u._id == a.autor
                                  td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=u.name
                          td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                            button(class="w3-button w3-green" onclick="showFile(\""+a._id+"\",\""+a.mimetype+"\",\""+a.autor+"\",\""+a.descricao+"\");")
                              i(class="fa fa-download" style="font-size:15px")
  div(id='display')                                         