doctype html
html
  head
    title File Administrator
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.5.1.min.js')
    script(src='/javascripts/scripts.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
  body
    block content
